---
layout: default
<!-- 暂时不显示在nav上 -->
<!-- title: Life -->
header-img: post-bg-life.png
description: 投入兴趣,找到快乐,在不同的阶段平衡生活和快乐
---

<style>
    header.intro-header {
        background-image: url('{{ site.imgurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');
        background-position-x: 0;
    }

    .life-container {
        min-height: 300px;
        margin: 0 30px;
    }

    .life-container ul.post-preview {
        list-style: lao;
    }

</style>
<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="
                col-lg-8 
                col-md-8 
                col-sm-12
                col-xs-12
                postlist-container">
            <div class="">
                <div class="life-container">
                    <!--这里主要是自己的一些生活记录-->
                        {% for tag in site.tags %} {% if tag[0] == 'life' %} {% for post in tag[1] %}
                        <ul class="post-preview">
                            <li>
                                <a href="{{ post.url | prepend: site.baseurl }}">
                                    <p class="post-title">
                                        <b>{{ post.title }}</b>
                                    </p>
                                    {{ post.excerpt | truncate: 100 }}
                                </a>
                            </li>
                        </ul>
                    {% endfor %} {% endif %} {% endfor %}
                </div>
            </div>
        </div>
        {% include sidebar.html %}
    </div>
</div>