--- 
title: Books 
layout: default 
description: "书单推荐" 
--- 
{% include bookStyle.html %}

<div class="container" id="book-container">
    <div class="row top-book-container">
        <div class="top-book__info col-lg-6 col-lg-offset-1 col-md-offset-1 col-md-6 col-sm-12">
            <h1>
                <div>前端书单📚 - 整理了自己读过的书籍</div>
            </h1>
            <div>
                <h2>{{ site.topbook.name }}</h2>
                <div>{{ site.topbook.author }}</div>
                <div>{{ site.topbook.star }}</div>
                <p class="top-book__intro">{{ site.topbook.introduction }}</p>
            </div>
        </div>
    </div>
    <div class="recommend-book-container">
        <div class="recommend-book-wrapper">
            <ul class="recommend-book__list">
                {% for book in site.data.books %}
                <li>
                    <a href="{{ book.url }}" target="_blank">
                        <div class="book__year">
                            <span>{{ book.date | slice:4 }}</span>  
                        </div>
                        <div class="book__img" style="background: linear-gradient(135deg, #f6a623 50%, rgba(255, 255, 255, 0) 0),url({{book.imgUrl}});background-repeat: no-repeat;background-size: 30px 30px,100% 100%;"></div>
                        <div class="book__info">
                            <p title={{ book.name }}>{{ book.name }}</p>
                            <p class="rank">{{ book.rank }}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
                <li>空的占位符</li>
            </ul>
        </div>
    </div>
</div>